#app {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
    font-family: Helvetica Neue, Helvetica, Arial, lucida grande, tahoma,
        verdana, arial, sans-serif;
    color: #050505;
    background-color: #fff;
}
.bg-\[\#F1F2F6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(241 242 246 / var(--tw-bg-opacity));
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.h-screen {
    height: 100vh;
}
.flex {
    display: flex;
}
.p-5 {
    padding: 1.25rem;
}
.bg-\[\#fff\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.self-center {
    align-self: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.w-\[70\%\] {
    width: 70%;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
img,
video {
    max-width: 100%;
    height: auto;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}
.font-bold {
    font-weight: 700;
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.p-3 {
    padding: 0.75rem;
}
.bg-\[\#F7F8FA\] {
    --tw-bg-opacity: 1;
    background-color: rgb(247 248 250 / var(--tw-bg-opacity));
}
.rounded-md {
    border-radius: 0.375rem;
}
.gap-3 {
    gap: 0.75rem;
}
.items-center {
    align-items: center;
}
.text-yellow-600 {
    --tw-text-opacity: 1;
    color: rgb(159 88 10 / var(--tw-text-opacity));
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.ionicon {
    stroke: currentcolor;
    display: inline-block;
    width: 1em;
    height: 1em;
    contain: strict;
    fill: currentcolor;
    box-sizing: content-box !important;
}
.ionicon-fill-none {
    fill: none;
}
.ionicon-stroke-width {
    stroke-width: var(--ionicon-stroke-width, 32px);
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.font-semibold {
    font-weight: 600;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-center {
    text-align: center;
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(63 131 248 / var(--tw-bg-opacity));
}
.rounded-lg {
    border-radius: 0.5rem;
}
.cursor-pointer {
    cursor: pointer;
}
.w-full {
    width: 100%;
}
.block {
    display: block;
}
